# Python stuffs
.venv
*.pyc
__pycache__
.sconsign*

# re2c output
src/weebparse.c

# Build stuffs
build/*
*.o
*.out

# Debug stuffs
vgcore.*
afl-fuzzing

# Ctags
tags

# Vim stuffs
*.swp
*.swm
*.swn
*.swo

# local barf bin
poo/*
