# Python stuffs
.venv
*.pyc
__pycache__
.sconsign*

# re2c output
src/weebparse.c

# Build stuffs
build/*
*.o
*.out
src/t/test_cmocka.t
src/t/test_weebparse_good1.t
src/t/test_weebparse_good2.t
src/t/test_weebparse_badfiles.t

# Debug stuffs
core.*
vgcore.*
afl-fuzzing

# Ctags
tags

# Vim stuffs
*.swp
*.swm
*.swn
*.swo

# local barf bin
poo/*
patches/*
